<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Welcome to {{ title }}! By {{ By }}
  </h1>
  <nav>
      <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <!--<app-heroes></app-heroes>-->
  <router-outlet></router-outlet>
  <app-messages></app-messages>
 
