<!--<p>
 details of  {{hero.name | uppercase}} :-
</p>
<div> ID is:--{{hero.id}} </div>
<div>Name is :--{{hero.name}}</div>

<div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
</div> -->
  <h2>List of my heroes:-</h2>
  <ul class="heroes">

    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
        <a routerLink="/detail/{{hero.id}}">
      <span class="badges"> {{hero.id}} </span> {{hero.name}}
        </a>
    </li>
  </ul>

  <br>
  <!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->